body{
    font-family: 'Inter Tight', sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.main-container{
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header h1{
    text-align: center;
    color: white;
    padding: 10px;
}

header h4{
    text-align: center;
    color: white;
    padding: 10px;
}

#user{
    margin-bottom: 15px;
    margin-right: 20px ;
    color: white;
}

#password{
    margin-bottom: 15px;
    margin-right: 20px ;
    color: white;
}

#btn{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

input.z{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border:2px solid #ccc;
    border-radius: 5px;
}




/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(34, 34, 34 );
  left: 0;
  top: 0;
  border-radius: 10px;
}