 * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
 }

 body{
   min-height: 100vh;
   background-color: #191825;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .main-container{
   width: 380px;
   height: 420px;
   background-color: rgb(28, 28, 28, 0.5);
   position: relative;
   overflow: hidden;
 }

 .main-container::after
 {
   content: '';
   height: 420px;
   width: 380px;
   background: linear-gradient(0deg, transparent, #7f66ff, #7f66ff);
   top:-50%;
   left:-50%;
   position: absolute;
   animation: 6s animate linear infinite;
   transform-origin: bottom right;
 }

 .main-container::before
 {
   content: '';
   height: 420px;
   width: 380px;
   background: linear-gradient(0deg, transparent, #7f66ff, #7f66ff);
   top:-50%;
   left:-50%;
   position: absolute;
   animation: 6s animate linear infinite;
   transform-origin: bottom right;
   animation-delay: -3s ;
 }

 @keyframes animate {
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
 }
  
 .form{
   background-color: rgb(28, 28, 28);
   position: absolute;
   inset: 2px;
   z-index: 10;
   padding: 50px 40px;
   display: flex;
   flex-direction: column;
 }

 .inputs{
   width: 350px auto;
   position: relative;
   margin-top: 35px;
 }

 .form h2{
   color: #7f66ff;
   font-weight: 600;
   letter-spacing: 0.1em;
   text-align: center;
 }

 .inputs input{
   width: 100%;
   padding: 20px 10px 10px;
   background: transparent;
   border: none;
   outline: none;
   color: #fff;
   font-size: 1em;
   position: relative;
   z-index: 10;
 }

 .inputs span{
   color: #f8f8f8;
   left: 0;
   position: absolute;
   transition: 0.5s;
 }

 .inputs input:valid ~ span,
 .inputs input:valid ~ span
 {
   color: #7f66ff;
   transform: translateX(0px) translateY(-25px);
 }
 
 .inputs i{
  width: 100%;
  height: 2px;
  background-color: #7f66ff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s ease;
  z-index: 9;
 }

 .inputs input:valid ~ i,
 .inputs input:focus ~ i
 {
   height: 46px;
 }

 .links{
  display: flex;
  justify-content: space-between;
 }

 .links a{
  text-decoration: none;
  color: #7f66ff;
  margin: 10px 0;
  transition: 0.5s;
 }

 .links a:hover,
 .links a:nth-child(2)
 {
  color: #7f66ff;
 }
 

 input[type="submit"]{
  width: 100px;
  padding: 11px 25px;
  background: #7f66ff;
  border: 0;
  outline: 0;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease;
 }

  input[type="submit"]:hover{
  background-color: blueviolet;
  }

 

 

