*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    margin:0;
    padding:0;
}

.main_box{
    background-image:url(camera.jfif) ;
    background-size:auto;
    height:100vh;
}

.btn_one i{
    color:white;
    font-size:30px ;
    font-weight: 700;
    position:absolute;
    left: 16px;
    top:10px;
    cursor: pointer;
  }    

 .main_box .sidebar_menu{
    height:100%;
    width:300px;
    position:fixed;
    left:-300px;
    background-color:rgba(255,255,255, 0.1);
    box-shadow:0px 0px 10px rgb(255, 255, 255,0.5);
}

.sidebar_menu .logo{
    width: 100%;
    font-weight:700;
    position:relative;
    left:25%;
    padding-top:10px;

}
.sidebar_menu .logo a{
    font-size:2em ;
}

.sidebar_menu .menu{
    position:relative;
    width:100%;
    padding:30px 20px;
    font-size: medium;
    font-weight: 500;
}

.main_box .btn_two i{
    color:rgb(255, 255, 255,1);
    font-size:25px ;
    line-height:60px;
    position: absolute;
    left:270px;
    top:0px;
    cursor: pointer;
}

.sidebar_menu .menu li{
    margin-top:6px ;
    padding:10px 20px;
}
 
.sidebar_menu .menu i,a{
    color:white;
    text-decoration:none ;
    font-size:20px ;
}

.sidebar_menu .menu i{
    padding-right:10px ;
}

.main_box .social_media i{
    color:rgb(169, 169, 169,1) !important;
    position:relative;
    top:450px;
    left:30%;
    padding-right:6px;
    font-size:x-large;
    visibility: visible !important;
}

.sidebar_menu .menu li{
    list-style-type:none;
}
 .main_box input[type="checkbox"]{
    opacity:0;
 }

 .sidebar_menu .menu li:hover{
    box-shadow:0px 0px 6px rgb(255, 255, 255,0.5);
}

.btn_two:hover{
    font-size:30px ;
}

.sidebar_menu .social_media:hover{
    transform:scale(1,1);
}

 #check:checked ~.sidebar_menu{
    left:0;
}


 
